<% @ticket.each do |ticket| %>
    <div>
      <h1><%= ticket.id %></h1><br />
      <i><%= ticket.Ticket_details %></i><br />
      <i><%= ticket.owner %></i><br /><br />
    </div>
    <hr />
  <% end %> 

