<div class="h1">
<h1>Welcome to my Quiz solution page</h1>
</div>
<div class="h2">
<h2>The task: Build a new web application from scratch and make sure it satisfies the following criteria:</h2>
</div>
<br />

<div class="p">
<p>This should be a rails application, not a plain HTML page. Check</p> 
<p>The web application has a page with static content on it. Check</p>
<p>The web application is hosted on Heroku. Check</p>
<p>The code for the application is hosted on GitHub. Check</p>
<p>There is a headline on the page of the application that is a non-black color. Check</p>
</div>